<% include thead.html %>
<body>  
  <% include tnavi.html %>

  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">赞助说明</div>
        <div class="panel-body">
          <h2>赞助 <span class="glyphicon glyphicon-gift"></span></h2>
          <p><span class="label label-warning">我们需要你的帮助!</span>如果您认为本馆的藏品质量不错，欣赏后觉得收获很大，不妨小额赞助我们一下，鼓励我们有动力继续工作，让我们有钱继续收集更多藏品图片，有钱租用网络硬盘和云服务器。</p>
          <hr>
          <p>赞助方式目前有2种：微信支付，支付宝支付。</p>
          <hr>
          <h4>赞助方式一</h4>
          <p>绝对赤裸裸的金钱赞助：如果你有微信，并且绑定了微信钱包，请打开微信，使用“扫一扫”付款。</p>
          <p>目前一共有10元、20元、30元、50元、100元和“随我高兴”共6档。</p>
          <p>请闭上眼睛随意选择：</p>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="#wx100" aria-controls="home" role="tab" data-toggle="tab">￥100</a></li>
              <li role="presentation"><a href="#wx50" aria-controls="messages" role="tab" data-toggle="tab">￥50</a></li>
              <li role="presentation" class="active"><a href="#wx30" aria-controls="settings" role="tab" data-toggle="tab">￥30</a></li>
              <li role="presentation"><a href="#wx20" aria-controls="settings" role="tab" data-toggle="tab">￥20</a></li>
              <li role="presentation"><a href="#wx10" aria-controls="settings" role="tab" data-toggle="tab">￥10</a></li>
              <li role="presentation"><a href="#wxfree" aria-controls="home" role="tab" data-toggle="tab">随我高兴</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade" id="wx100" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-100.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="wx50" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-50.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade in active" id="wx30" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-30.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="wx20" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-20.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="wx10" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-10.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="wxfree" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/wx-free.png" alt="捐款100" class="img-rounded"></div>
            </div>
          </div>
          <hr>
          <h4>赞助方式二</h4>
          <p>也是赤裸裸的金钱赞助：如果你有手机支付宝，请打开支付宝App，使用“扫一扫”付款。</p>
          <p>目前一共有10元、20元、30元、50元、100元和“随我高兴”共6档。</p>
          <p>请闭上眼睛随意选择：</p>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="#alipay100" aria-controls="home" role="tab" data-toggle="tab">￥100</a></li>
              <li role="presentation"><a href="#alipay50" aria-controls="messages" role="tab" data-toggle="tab">￥50</a></li>
              <li role="presentation" class="active"><a href="#alipay30" aria-controls="settings" role="tab" data-toggle="tab">￥30</a></li>
              <li role="presentation"><a href="#alipay20" aria-controls="settings" role="tab" data-toggle="tab">￥20</a></li>
              <li role="presentation"><a href="#alipay10" aria-controls="settings" role="tab" data-toggle="tab">￥10</a></li>
              <li role="presentation"><a href="#alipayfree" aria-controls="home" role="tab" data-toggle="tab">随我高兴</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade" id="alipay100" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-100.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="alipay50" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-50.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade in active" id="alipay30" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-30.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="alipay20" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-20.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="alipay10" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-10.png" alt="捐款100" class="img-rounded"></div>
              <div role="tabpanel" class="tab-pane fade" id="alipayfree" style="padding: 20px;">
                <img style="height: 200px;" src="/donate/alipay-free.png" alt="捐款100" class="img-rounded"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript"> function _cdn(res){ return "<%= conf.cdn_url %>"+ (res|| "") }</script>
<% if( target === 'release' ){ %>
    <script src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.staticfile.org/leaflet/0.7.2/leaflet.js" type="text/javascript"></script>
    <script src="<%=conf.cdn_url %>/js/cag_<%=stamp %>_min.js" type="text/javascript"></script>
<% } else { %>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/leaflet-src.js"></script>
    <!-- cag_xxx_min.js -->
    <script src="/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="/js/sharepage.base.js"></script>
    <script src="/js/sharepage.js"></script>
    <script src="/js/cagcommons.js"></script>
<% } %>

<% include tfootnavi.html %>
<% include tfoot.html %>
