<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Aa-Px_e0MlHLJCGspxj9asA8Iue7q21mBh3b62pkl44" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="中华珍宝馆,传统艺术,书法欣赏,水墨画,国画,工笔画,高清图片,图片下载,兰亭序,富春山居图,清明上河图,瘦金体,法海寺壁画"></meta>
    <meta name="description" content="中华珍宝馆提供中国历代高清书法图片欣赏和下载,高清绘画图片欣赏和下载" ></meta>
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <title>中华珍宝馆</title>
    <!-- Bootstrap core CSS -->
    <% if( target === 'release' ){ %>
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <% } else { %>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
    <% } %>
    <link href="/css/backend.css" rel="stylesheet">
  </head>