
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">您的意见，会鞭策我们继续前进...</h4>
      </div>
      <div class="modal-body">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="page.main" data-title="中华珍宝馆首页" data-url="ltfc.net/main.html"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-static-top" style="margin: 0px;padding-top: 20px;padding-bottom: 10px;">
  <div class="container">
    <div class="col-sm-12 col-md-3">
      <h5>近期热门</h5>
      <div class="ds-top-threads" data-range="weekly" data-num-items="7"></div>
      <h5>最受喜爱藏品</h5>
        <div class="ds-top-threads"  data-range="monthly" data-num-items="7"></div>
    </div>
    <div class="col-sm-12 col-md-3">
      <h5 id="art-is-fun">思君不见关山远，且托云中锦书传</h5>
      <hr>
      <h5>随时随地看图，微信扫一扫订阅公共号:</h5>
      <div>中华珍宝馆</div>
      <img style="width:128px; height:128px;" src="/images/qrcode_for_gh_adb793bad6b2_258.jpg" alt="中华珍宝馆微信公众号">
      <h5>加入QQ群 <a class="openview" href="http://shang.qq.com/wpa/qunwpa?idkey=38e25becef5180abf890ea848732c8773a8eb65d8e7ca28d36f5e1e45c9f495a">85249779</a></h5>
      <h5>关注新浪微博<a href="http://weibo.com/u/2258697062">@中华珍宝馆</a></h5>
      <h5><a href="#comment" data-toggle="modal" data-target="#comment">表扬或建议</a></h5>
      <h5><a href="/blog#!/article/1322626726307561482">关于图片下载</a></h5>
    </div>
    <div id="recent-comment" class="col-sm-12 col-md-4">
      <h5>最新评论</h5>
      <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
    </div>
    <div class="col-sm-12 col-md-2">
        <h5>下载iOS版中华珍宝馆</h5>
        <a href="https://itunes.apple.com/cn/app/zhong-hua-zhen-bao-guan/id905220385?mt=8"><img style="width:128px; height:128px;" src="/images/apple-qrcode.png" alt="中华珍宝馆 IOS版本"></a>
        <h5>友情链接:</h5>
        <a href="http://dota2sp.com" target="_blank">dota2sp.com</a>
    </div>
    <div class="col-sm-12 col-md-12"  style="text-align:center;"><a href="http://ltfc.net">中华珍宝馆 ltfc.net(兰亭富春)</a>&nbsp; 版权所有 &nbsp;皖ICP备15001975号 <a href="about.html" data-toggle="modal" data-target="#about">关于中华珍宝馆</a></div>
  </div>
</nav>

<!-- 多说评论框 end -->
<script type="text/javascript">
      var duoshuoQuery = {
        short_name: "ltfc"
       };

      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = 'http://static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
  </script>
<!-- 多说公共JS代码 end -->