<div id="backbtn" class="btn btn-info" style="z-index: 1000;bottom: 20px;right: 20px;opacity: 0.8; display: block;">
  <span class="glyphicon glyphicon-circle-arrow-up"></span>返回顶部
  </div>

<!-- 意见和建议对话框 -->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">您的意见，会鞭策我们继续前进...</h4>
      </div>
      <div class="modal-body">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="page.main" data-title="中华珍宝馆首页" data-url="ltfc.net/main.html"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 确认对话框 -->
<div id="messageDlg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">消息提示:</h3>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">确认</button>
      </div>
  </div>
  </div>
</div>

<script>
        // 选中菜单项目，这个函数需要放在页面结尾处
        var currentPath = window.location.pathname;
        //march = new RegExp(currentPath + '.*');
        $("#top-navbar a").each(function(i, a){
            var $a = $(a);
            //if(march.test($a.attr('href')))
            if( currentPath.indexOf($a.attr('href')) >= 0)
                $a.parents('li').addClass('active');
        });

        // 修改密码
        $('#login-btn').on('click', function(){
            PG.asklogin(function(userinfo){
                $('#login-form').spin('false');
                var userinfoHtml = tmpl('userinfoTmpl', {user : userinfo});
                $('#userinfoMenu').html(userinfoHtml);
            });
        });



        $('#searchForm').submit(function(event){
          event.preventDefault(); 
          // 查询内容
          var cond = $('#searchForm').getdata();
          window.location.href= encodeURI("/exhibit/search/" + cond.key);
        });

        $('#backbtn').affix({ 
            offset: { top: 800 } 
        });
        $('#backbtn').click(function(){
          $('body').animate({ scrollTop: 0 }, 600, function(){});
        });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50311706-4', 'auto');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?27fcab3509a075adac751101c39ec1cc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>