<!DOCTYPE html>
<html lang="zh" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Aa-Px_e0MlHLJCGspxj9asA8Iue7q21mBh3b62pkl44" />
    <meta property="wb:webmaster" content="8a8dfde5c302e253" />
    <meta property="qc:admins" content="265465714636654" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="keywords" content="高清书画,书画图片下载,中华珍宝馆,书法欣赏,书法艺术,绘画欣赏,绘画艺术,传统艺术,水墨画欣赏,古画欣赏,工笔画欣赏"></meta>
    <meta name="description" content="中华珍宝馆,书法欣赏,高清书法图片下载,绘画欣赏,高清绘画图片下载" ></meta>
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <title><%=title %>-中华珍宝馆</title><%
if( target === 'release' ){ %>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=conf.cdn_url %>/css/main_<%=stamp %>_min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/leaflet/1.0.1/leaflet.css">
<% } else { %>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/leaflet/1.0.1/leaflet.css">
<% } %>
  </head>
  