#serviceCtlBar, #myTab, #statCtlBar, #stateSearchForm/****************************************************/
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Hiragino Sans GB','Microsoft YaHei',sans-serif;
	color: #454545;
	font-size: 13px;
	text-decoration: none;
	padding-top: 50px;
}

html,body {
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p,a {
	text-decoration: none;
	color: #454545;
}

li {
	list-style: none;
}

a:link,a:visited {
	text-decoration: none;
	outline: none;
}

a:not(.btn) {
	color: #267FD9;
}

a.link {
	color: #267FD9;
}

a.btn {
	color: inherit;
}
a.btn.btn-primary{
	color: #FFFFFF;
}
.mapCanvas img {
	max-width: none;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* ==================================================================================================
 * sfmis custume style
 ================================================================================================== */
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -64px;
}

.sidebar-nav {
	padding: 0;
	height: 100%;
	padding-top: 84px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sidebar-without-nav {
	padding: 5px;
	height: 100%;
	padding-top: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sidebar-nav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.sidebar-nav .icon-folder-open, .sidebar-nav .icon-folder-close {
	margin-top: ppx;
	opacity: .25;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#allmap img{
  max-width: none;
}

#serviceCtlBar, #myTab, #statCtlBar, #stateSearchForm {
    margin-bottom: 0px;
    height: 42px;
    /* overflow: hidden;*/
}

a{
	cursor: pointer;
}

.action-icon{
	float: right;
	padding: 0px;
	margin-left: 8px;
}

.gisobj{
	width: 100%; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space: nowrap; 
	display: block; 	
}

#container {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 60px 0 0 0 ;
}

#top-navbar {
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	height: 60px;
	display: flex;
}

#main-content {
	top: 72px;
}
#logo a img{
	width: 233px;
	height: 31px;
}
img[alt="transparent-ajax-loader"] {
  width: 16px;
  height: 11px;
}
img.weibo_logo {
	width: 16px;
	height: 16px;
}

.navbar .big .brand {
  display: block;
  float: left;
  /*padding: 20px 20px 20px;*/
  padding: 20px 10px 20px;
  /*margin-left: 20px;*/
  margin-left: 10px;
  font-size: 22px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  white-space: nowrap;
  position: fixed;
}

.navbar .big .nav > li > a {
  padding: 20px 15px 20px;
  min-width: 60px;
  text-align: center;
}

.ctlbar {
	position: absolute; 
	top: 60px; 
	z-index: 99; 
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
         box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
	-o-transition: width 0.35s ease;
	transition: width 0.35s ease;
}

.ctlbar .navbar-inner , .side-ctlbar .navbar-inner {
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.side-ctlbar{
	margin-bottom: 3px;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 42px;
    overflow: hidden;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    /* padding: 41px 0; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid {
	height: 100%;
}

.layer-area{
    overflow:hidden;
    height: 100%;
    /* padding: 43px 0 0 0; */
}

.content-area {
	/* overflow:auto; */
	overflow:hidden;
    height: 100%;
    padding: 41px 0 0 0;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
	-o-transition: width 0.35s ease;
	transition: width 0.35s ease;
}

.content-body {
	overflow:auto;
	height: 100%;
}

.footer {
  background: red;
  height: 20px;
}

.sidepannel {
  min-height: 20px;
  background-color: #f5f5f5;
  position: relative;
  -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
}

.accordion-heading {
  background: rgb(221, 221, 221);
}

#buildingDlg, #propertyDlg, #moduleDlg{
	width: 980px;
	margin-left: -490px;
	left: 50%;
}

#myTabContent {
	height: 100%;
}

.side-navbar{
	position: absolute;
	top: 42px;
	width: 100%;
}

.side-navbar.nav-tabs{
	padding-top: 5px;
}

#highlight-form .control-label, #search-form .control-label
, .search-form .control-label {
	width: 80px;
}

#highlight-form .control-label-large, #search-form .control-label-large
, .search-form .control-label-large {
	width: 120px;
}

#highlight-form .controls, #search-form .controls
, .search-form .controls {
	margin-left: 85px;
}

.sidepannel .alert {
	position: absolute;
	z-index: 99;
}

.action-item.active {
	display: block;	
}

.action-item {
	display: none;
}

.import-action-list {
    max-height: 500px;
    overflow-y: auto;
}

.action-ctl {
	display: none;
}

.action-ctl.showctl {
	display: block;
}

label.error {
	color: red;
	font-size: 14px;
}

a.add-cellitem, a.save-cellitem{
	color: #ffffff;	
}

.table th, .table td{
	/*white-space: nowrap*/
}

.table .active{
	color: red;	
}

.footpagebar > div.pagination{
	margin: 5px 5px;
}